<%= javascript_include_tag "battlesea" %>
<h1>Battle sea</h1>
<p> ~~~~~~~~~~</p>

<div id='form'>
  <div id='battle_area1'></div>
  <input type='text' class='x_co'></input>
  <input type='text' class='y_co'></input>
  <a id='set' href='#'>GO</a>
</div>